.sidenav {
    display: flex;
    height: 100%;
    width: 10rem;
    background: #303434;
    justify-content: center;
}

.sidenavList {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.sidenavListLink {
    text-decoration: none;
    color: var(--ring);
    padding: 20px;
    border-bottom: 2px solid black;
    width: 100%;
}

.sidenavListLink:hover {
    background-color: var(--ring);
    color: #303434;
}
