<div class="cardMovieContainer">
    <h1>{{titleMovie}}</h1>
    <!-- <h1>Título do Filme</h1> -->
    <div class="descriptionMovie">
        <ul>
            <li><strong>Tempo de duração em minutos:</strong> {{runtimeInMinutes}},</li>
            <li><strong>Orçamento:</strong> U${{budgetInMillions}} milhões,</li>
            <li><strong>Receita de bilheteria:</strong> U${{boxOfficeRevenueInMillions}} milhões,</li>
            <li><strong>Indicações ao prêmio da academia:</strong> {{academyAwardNominations}},</li>
            <li><strong>Prêmios da academia:</strong> {{academyAwardWins}},</li>
            <li><strong>Score Rotten Tomatoes:</strong> {{rottenTomatoesScore}} </li>
        </ul>
        <!-- <ul>
            <li><strong>Tempo de duração em minutos:</strong> 558</li>
            <li><strong>Orçamento:</strong> U$281 milhões</li>
            <li><strong>Receita de bilheteria:</strong> U$2917 milhões</li>
            <li><strong>Indicações ao prêmio da academia:</strong> 30</li>
            <li><strong>Prêmios da academia:</strong> 17</li>
            <li><strong>Rotten Tomatoes:</strong> 94</li>
        </ul> -->
    </div>
</div>
