<details class="collapse">
    <summary class="title"><strong>{{titleMovie}}</strong></summary>
    <div class="description">
        <ul>
            <li><strong>Tempo de duração em minutos:</strong> {{runtimeInMinutes}}</li>
            <li><strong>Orçamento:</strong> U${{budgetInMillions}} milhões</li>
            <li><strong>Receita de bilheteria:</strong> U${{boxOfficeRevenueInMillions}} milhões</li>
            <li><strong>Indicações ao prêmio da academia:</strong> {{academyAwardNominations}}</li>
            <li><strong>Prêmios da academia:</strong> {{academyAwardWins}}</li>
            <li><strong>Score Rotten Tomatoes:</strong> {{rottenTomatoesScore}} </li>
        </ul>

        <ngx-avatar facebookId="1508319875"></ngx-avatar>
    </div>
  </details>