<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <article id="topo">
        <header>
            <h2>Click on the red areas of the map and Discover the Middle Earth</h2>
        </header>
    </article>

    <article id="mordor">
        <header>
            <h1>MORDOR</h1>
        </header>
        <p>Mordor is a region located in the southeastern part of Middle-earth, considered the realm of Sauron the Dark Lord, east of Gondor, Ithilian and the Great River Anduin.</p>
    </article>

    <article id="rohan">
        <header>
            <h1>ROHAN</h1>
        </header>
        <p>Rohan was a kingdom of men, located in the land formerly known as Calenardhon, situated in the great valley between the Misty Mountains and the White Mountains to the south.</p>
    </article>

    <article id="gondor">
        <header>
            <h1>GONDOR</h1>
        </header>
        <p>Gondor is the mightiest realm of Men in Middle-earth. The kingdom of Rohan borders on the north, on the west is the Great Sea, on the south is Harad and on the east is Mordor.</p>
    </article>

    <article id="rhovanion">
        <header>
        <h1>RHOVANION</h1>
    </header>
    <p>Rhovanion, was the name of a small region east of the Greenwood, which later became the Kingdom of Rhovanion, but the name was used for the entire region in the Third Age.</p>
    </article>

    <article id="eriador">
        <header>
        <h1>ERIADOR</h1>
    </header>
    <p>Land between the Misty Mountains and the Blue Mountains, in which the realm of Arnor (and also the Shire of Hobbits) was located.</p>
    </article>
</body>

</html>