<a id="btn-card-link" href="https://www.google.com.br">
    <div class="cardContainerLink">
        <h1>{{title}}</h1>
        <img id="logo-icon" src="../../assets/angular-logo.svg">
        <!-- <p>An API is — in short — a set of dedicated URLs that return pure data responses, in most cases in JSON format — meaning the responses won’t contain the kind of presentational overhead that you would expect in a graphical user interface like a website. I took that great definition from this very understandable article. Please refer to it for more information!</p> -->

    </div>
</a>