.containerPaginationCharacter{
    display: flex;
    flex-direction: row;

}

.btnPagination{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.btnPagination img{
    width: 2.125rem;
}

.pageListCharacter{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pageListCharacter a{
    padding: 0.625rem;
    text-decoration: none;
    margin: 0.3125rem;
    border: 0.5px solid #DCDCDC;
    border-radius: 0.625rem;
}