<div class="cardCharacterContainer">
  <h1>{{name}}</h1>
  <ul>
    <li><strong>Raça: </strong>{{race}}</li>
    <li><strong>Altura: </strong>{{height}}</li>
    <li><strong>Gênero: </strong>{{gender}}</li>
    <li><strong>Nascimento: </strong>{{birth}}</li>
    <li><strong>Cônjuge: </strong>{{spouse}}</li>
    <li><strong>Morte: </strong>{{death}}</li>
    <li><strong>Reino: </strong>{{realm}}</li>
    <li><strong>Cabelo: </strong>{{hair}}</li>
    <li><strong>Link: </strong><a href="{{wikiUrl}}" target="_blank">LOTR Wikia</a></li>
  </ul>
</div>

