.filterCharacterContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.filterCharacterContainer h1 {
  color: var(--ring);
}

.filterCharacterName {
  gap: 10px;
  display: flex;
}

.searchCharacterName {
  padding: 10px;
  border-radius: 10px;
}

.btn-search-character {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--ring);
  color: #000;
}