<app-filter-character
(characterName)="handleCharacterName($event)"
></app-filter-character>
<div class="containerCharacters">
    <ng-container *ngFor="let item of characters">
      <app-card-character
        [name]="item.name"
        [height]="item.height"
        [race]="item.race"
        [gender]="item.gender"
        [birth]="item.birth"
        [spouse]="item.spouse"
        [death]="item.death"
        [realm]="item.realm"
        [hair]="item.hair"
        [wikiUrl]="item.wikiUrl"
      ></app-card-character>
    </ng-container>
    <app-pagination
    [totalPage]="totalPages"
    (currentPage)="handleCurrentPage($event)"
    ></app-pagination>

</div>
