  @import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

  :root{
    --background: #23272A;
    --ring: #FFA500;
    
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

