  @import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  :root{
    --background: #23272A;
    --ring: #FFA500;
    
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

